@import '../../styles/variaveis';

.footer {
  width: 21.875em;
  height: 15.625em;
  background-color: #880ab0;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  margin-left: auto;
  flex: 1;

}

.container {
  h2 {
    padding: 10em 0 0 10em;
    font-family: $fonte-navbar;
  }
  a {
    font-family: $fonte-navbar;
    padding: 0 0 0 9em;
    text-decoration: none;
    color: black;
  }
 
}

.teste {
  width: 28.125em;
  height: 15.625em;
  background-color: #2d1740;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  margin-left: auto;
  padding: 3.5em 0 0 0;
}